@use './theme' as theme;

.luna-notification {
  padding-top: 40px;
  z-index: theme.$z-index-popup-base;
}

.luna-notification-item {
  border-radius: 4px;
  padding: 5px 10px;
}

.luna-modal {
  top: 28px;
  z-index: theme.$z-index-popup-base;
}

.luna-modal-input {
  user-select: text !important;
}

.luna-image-viewer {
  border: none;
}

.luna-setting {
  .luna-setting-item {
    &:hover,
    &.luna-setting-selected {
      background: none;
    }
    &.luna-setting-selected:focus {
      outline: none;
    }
  }
}
